/*** sectioning elements ***/

body {
  background-color: #d8dde2;
  color: #555;
}

header {
  background-color: #c9c9c9;
}

main {

}

footer {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: #444;
  color: #c9c9c9;
}

nav {
  background-color: #030;
}

section {

}

aside {

}


/**** content styles ***/

h1 {
  font-size: 35px;
  font-family: impact;
  color: #555;
}

h1.center {
  text-align: center;
  font-family: impact;
  color: #444;
}

h2 {
 font-size: 32px;
 font-family: impact;
 color: #555;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

blockquote {

}

ol {

}

ul {

}

li {

}

table {

}

tr {

}

th {
  text-align: left;
}

td {

}


/*** image styles ***/

img  {

}


/*** link styles ***/

a:link {
  color: #070;
}

a:visited {
  color: #070;
}

a:hover {
  color: #070;
}

a:active {
  color: #070;
}


/*==================================================================================================================================
    To override odin
=================================================================================================================================*/

/*NAVBER*/

.navbar {
  background-color: #444;
}

.navbar-menu a:link, a:visited {
  color: #eee;
  text-decoration: none;
}

.navbar-menu a:hover, a:active {
  color: #c9c9c9;
  text-decoration: none;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #444;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #444;
    color: white !important
}
